<section class="bg-gray-50 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-semibold lg:text-9xl text-[#33B2F0] dark:text-[#33B2F0]">404</h1>
            <p class="mb-4 text-3xl tracking-tight font-semibold text-gray-900 md:text-4xl dark:text-white">Что-то пошло не так</p>
            <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Извините, мы не можем найти эту страницу. На главной странице вы найдете много интересного.</p>
            <a href="#" class="inline-flex text-[#33B2F0] border-2 border-[#33B2F0] hover:bg-[#33B2F0] hover:text-white focus:ring-4 focus:outline-none focus:ring-[#33B2F0]/30 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4 transition-colors duration-300">Вернуться на домашнюю страницу</a>
        </div>   
    </div>
</section>