@tailwind base;
@tailwind components;
@tailwind utilities;

.search-bar {
  @apply w-full
}
@media (min-width: 1024px) {
  .search-bar {
    width: calc(100% - 260px);
  }
}

.task-dropdown {
  @apply w-full inline-block mb-1
}
@media (min-width: 1024px) {
  .task-dropdown {
    width: calc(100% / 3 - 8px);
    @apply mr-2 mb-0
  }
}

.delete-button {
  transform: translate(0, -4px);
}
