<div class="antialiased bg-gray-50 dark:bg-gray-900 h-full">
  <nav class="bg-white border-b border-gray-200 px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50">
    <div class="flex flex-wrap justify-between items-center">
      <div class="flex justify-start items-center">
        <a href="/" class="flex items-center justify-between mr-4">
          <img
            src="/assets/logo.svg"
            class="mr-3 h-8"
            alt="Logo"
          />
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Sprint Calendar</span>
        </a>
      </div>
      <div class="flex items-center lg:order-2">
        <button
          type="button"
          class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
          id="user-menu-button"
          aria-expanded="false"
          data-dropdown-toggle="dropdown"
        >
          <span class="sr-only">Пользователь</span>
          <img
            class="w-8 h-8 rounded-full"
            src="/assets/profile.png"
            alt="user photo"
          />
        </button>
        <div
          class="hidden z-50 my-0 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 rounded-xl"
          id="dropdown"
        >
          <div class="user-info p-4" *ngIf="currentUser">
            <div class="flex items-center space-x-4">
              <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-gray-900 truncate">
                    {{currentUser.firstName}} {{currentUser.lastName}}
                </p>
                <p class="text-xs text-gray-500 break-all font-11">
                    {{currentUser.email}}
                </p>
                <p class="text-xs text-gray-400">
                    {{currentUser.role?.name}}
                </p>
                <p class="text-xs text-gray-400 flex items-center gap-1">
                    Команда:
                    <span class="flex items-center">
                        <span class="w-2 h-2 rounded-full mr-1" [style.backgroundColor]="currentUser.team?.color"></span>
                        {{currentUser.team?.name}}
                    </span>
                </p>
              </div>
            </div>
          </div>
          <ul
            class="py-1 text-gray-700 dark:text-gray-300"
            aria-labelledby="dropdown"
          >
            <li>
              <a
                href="#"
                class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
              >Настройки</a>
            </li>
          </ul>
          <ul
            class="py-1 text-gray-700 dark:text-gray-300"
            aria-labelledby="dropdown"
          >
            <li>
              <a
                href="#"
                class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white text-danger-400"
                (click)="logout()"
              >Выйти</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <aside
    class="fixed top-0 left-0 z-40 w-64 h-screen pt-14 transition-transform -translate-x-full bg-white border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
    aria-label="Sidenav"
    id="drawer-navigation"
  >
    <div class="overflow-y-auto py-1 px-3 h-full bg-white dark:bg-gray-800">
      <ul class="space-y-2">
        <li side-item [icon]="faCalendar" [routerLink]="['']">
          Спринты
        </li>
        <li side-item [icon]="faListCheck">
          Задачи
        </li>
        <li side-item [icon]="faLightbulb">
          Идеи
        </li>
        <li side-item [icon]="faUser">
          Пользователи
        </li>
        <li side-item [icon]="faUsers">
          Команды
        </li>
      </ul>
      <ul class="pt-1 mt-1 space-y-2 border-t border-gray-200 dark:border-gray-700">
        <li side-item [icon]="faBolt">
          Риски
        </li>
        <li side-item [icon]="faChartSimple" [routerLink]="['status']">
          Статусы
        </li>
        <li side-item [icon]="faStar" [routerLink]="['role']">
          Роли
        </li>
      </ul>
    </div>
  </aside>

  <main class="p-4 md:ml-64 h-full pt-20 mt-12 overflow-y-auto">
    <ng-content></ng-content>
  </main>
</div>
