@if(task) {
  <section class="">
    <div class="items-center lg:flex">
      <div class="py-2 px-4 w-[672px] lg:py-4 align-self-start">
        <h1 class="mb-2 text-xl font-semibold leading-none text-gray-900 md:text-2xl dark:text-white">
          <fa-icon [icon]="(task.priorityEnum | priorityIcon).icon" [style.color]="(task.priorityEnum | priorityIcon).color"/>
          Задача № {{ task.id }}

          <ui-button
            color="danger"
            classExtension="!py-2 !px-3 ml-1 delete-button"
            *ngIf="isAdmin"
            (click)="openDeleteTaskModal()">
            <fa-icon [icon]="faTrash"/>
          </ui-button>
        </h1>
        <dl>
          <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
            Теги
            <fa-icon [icon]="faPlus" [style.color]="'green'" class="cursor-pointer" (click)="tagDropdown.triggerSelector()" *ngIf="canEditTask"/>
          </dt>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
            @if(currentTags.length > 0) {
              @for(tag of currentTags; track tag.id) {
                <span class="py-1 !px-2 border border-gray-600 rounded-md mr-1">
                  {{ tag.name }}
                  <fa-icon [icon]="faTimes" [style.color]="'red'" class="cursor-pointer" (click)="deleteTag(tag)" *ngIf="canEditTask"/>
                </span>
              }
            } @else {
              <span>Нет тегов</span>
            }
            <ui-dropdown
              #tagDropdown
              [(ngModel)]="tagWrapper"
              [options]="tags"
              [buttonHidden]="true"
              [searchHidden]="true"/>
          </dd>
        </dl>
        <dl class="flex items-center space-x-6">
          <div class="w-1/2">
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Создатель</dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">{{ task.createdBy.firstName }} {{ task.createdBy.lastName }} ({{ task.createdBy.login }})</dd>
          </div>
          <div class="w-1/2">
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
              Приоритет
              <fa-icon [icon]="faPen" [style.color]="'orange'" class="cursor-pointer" (click)="priorityDropdown.triggerSelector()" *ngIf="canEditTask"/>
            </dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
              <fa-icon [icon]="(task.priorityEnum | priorityIcon).icon" [style.color]="(task.priorityEnum | priorityIcon).color"/>
              {{ task.priorityEnum | priorityParser }}
              <ui-dropdown
                #priorityDropdown
                [(ngModel)]="priorityWrapper"
                [options]="priorityMap"
                [buttonHidden]="true"
                [searchHidden]="true"/>
            </dd>
          </div>
        </dl>
        <dl class="flex items-center space-x-6">
          <div class="w-1/2">
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
              Исполнитель
              @if(canEditTask) {
                <fa-icon [icon]="faPen" [style.color]="'orange'" class="cursor-pointer mr-1" (click)="usersDropdown.triggerSelector()"/>
                <fa-icon [icon]="faUser" [style.color]="'blue'" class="cursor-pointer" (click)="assignMyself()" *ngIf="task.implementer?.login !== currentUser?.login"/>
              }
            </dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
              @if(task.implementer) {
                {{ task.implementer.firstName }} {{ task.implementer.lastName }} ({{ task.implementer.login }})
              } @else {
                Не назначен
              }
              <ui-dropdown
                #usersDropdown
                [(ngModel)]="implementerWrapper"
                [options]="users"
                [searchOnly]="true"
                [searchInProgress]="usersLoad"
                (searchChange)="loadUsers($event)"
                [allowReset]="true"
                [resetValue]="null"
                [buttonHidden]="true"/>
            </dd>
          </div>
          <div class="w-1/2">
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
              Story Points
              <fa-icon [icon]="faPen" [style.color]="'orange'" class="cursor-pointer" *ngIf="!editingStoryPoints && canEditTask" (click)="editStoryPoints()"/>
              <fa-icon [icon]="faCheck" [style.color]="'green'" class="cursor-pointer" *ngIf="editingStoryPoints" (click)="saveStoryPoints()"/>
            </dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
              @if(editingStoryPoints) {
                <input
                  #storyPointsInput
                  class="text-black m-0 py-0 px-0 bg-transparent border-0"
                  min="0"
                  max="1000000"
                  step="1"
                  type="number"
                  [(ngModel)]="task.storyPoints"
                  (input)="onStoryPointsInput($event)"
                  (keypress)="onStoryPointsKeyPress($event)"
                >
              } @else {
                @if(task.storyPoints) {
                  {{ task.storyPoints }}
                } @else {
                  -
                }
              }
            </dd>
          </div>
        </dl>
        <dl class="flex items-center space-x-6">
          <div class="w-1/2">
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
              Спринт
              <fa-icon [icon]="faPen" [style.color]="'orange'" class="cursor-pointer" (click)="sprintDropdown.triggerSelector()" *ngIf="isAdmin"/>
            </dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
              @if(task.sprint) {
                <div class="flex items-center gap-2">
                  <div [style.background]="task.sprint.team.color" style="width: 15px; height: 15px; border-radius: 50%; border: 1px solid black;"></div>
                  <span class="text-blue-600 cursor-pointer" (click)="goToSprint(task.sprint.id, task.sprint.majorVersion)">
                    {{ task.sprint.majorVersion }}
                  </span>
                </div>
              } @else {
                Не назначен
              }
              <ui-dropdown
                #sprintDropdown
                [(ngModel)]="sprintWrapper"
                [options]="sprints"
                [searchOnly]="true"
                [searchInProgress]="sprintsLoad"
                (searchChange)="loadSprints($event)"
                [allowReset]="true"
                [resetValue]="null"
                [buttonHidden]="true"/>
            </dd>
          </div>
          <div class="w-1/2">
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
              Статус
              <fa-icon [icon]="faPen" [style.color]="'orange'" class="cursor-pointer" (click)="statusDropdown.triggerSelector()" *ngIf="task.implementer?.login === currentUser?.login || isAdmin"/>
            </dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
              {{ task.status.name }}
              <ui-dropdown
                #statusDropdown
                [(ngModel)]="statusWrapper"
                [options]="statuses"
                [buttonHidden]="true"
                [searchHidden]="true"/>
            </dd>
          </div>
        </dl>
        <dl>
          <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
            Информация
            <fa-icon [icon]="faPen" [style.color]="'orange'" class="cursor-pointer" *ngIf="!editingName && canEditTask" (click)="editName()"/>
            <fa-icon [icon]="faCheck" [style.color]="'green'" class="cursor-pointer" *ngIf="editingName" (click)="saveName()"/>
          </dt>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
            @if(editingName) {
              <textarea
                #nameInput
                class="text-black m-0 py-0 px-0 bg-transparent border-0 w-full min-h-[300px]"
                type="text"
                maxlength="2047"
                [(ngModel)]="task.name"></textarea>
            } @else {
              {{ task.name }}
            }
          </dd>
        </dl>
      </div>
      <div class="w-[672px] align-self-start">
        <app-table-component [columns]="tableColumns"
                              [creationEnabled]="canEditTask || false"
                              (creationClick)="openAddRiskModal()"
                              headerText="Риски"
                              creationText="Добавить">
          @if(risks.length > 0) {
            @for(risk of risks; track risk.id) {
              <tr table-row>
                <td table-cell>
                  <div class="table-cell-lines two-lines">
                    {{risk.description}}
                  </div>
                </td>
                <td table-cell>{{risk.probability}}</td>
                <td table-cell>
                  <div class="table-cell-lines one-line">
                    {{risk.estimatedLoss}}
                  </div>
                </td>
                <td table-cell *ngIf="canEditTask" style="width: 0">
                  <ui-button
                    color="danger"
                    classExtension="!py-2 !px-3 ml-1"
                    ngbTooltip="Удалить"
                    (click)="openDeleteModal(risk)">
                    <fa-icon [icon]="faTrash"/>
                  </ui-button>
                </td>
              </tr>
            }
          } @else {
            <tr table-row>
              <td table-cell colspan="4" class="text-center bg-gray-50">
                Нет данных
              </td>
            </tr>
          }
        </app-table-component>
      </div>
    </div>
  </section>
}
