<app-table-component [creationEnabled]="false">
  <tr table-row class="bg-gray-50">
    <td table-cell class="text-end">
      <ui-button (click)="changeYear(-1)" classExtension="!px-3 !py-1">
        <fa-icon [icon]="faArrowLeft"/>
      </ui-button>
      <ui-button color="transparent" classExtension="text-black !p-1" (click)="changeYear(currentYear-year)">
        {{ year }}
      </ui-button>
      <ui-button (click)="changeYear(1)" classExtension="!px-3 !py-1">
        <fa-icon [icon]="faArrowRight"/>
      </ui-button>
    </td>
  </tr>
</app-table-component>
<app-table-component [columns]="['Номер версии', 'Команда', 'Начало разработки', 'Конец разработки', 'Действия']" [creationEnabled]="false" style="transform: translate(0, -35px); display:block;">
  @for(sprint of sprints; track sprint.majorVersion) {
    <tr table-row>
      <td table-cell>
        <div class="table-cell-lines one-line">
          {{ sprint.majorVersion }}
        </div>
      </td>
      <td table-cell>
        <div class="table-cell-lines two-lines">
          <fa-icon [icon]="faCircle" [style.color]="sprint.teamColor"/>
          Команда "{{ sprint.teamName }}"
        </div>
      </td>
      <td table-cell>
        {{ sprint.startDate | date:'dd.MM.yyyy' }}
      </td>
      <td table-cell>
        {{ sprint.endDate | date:'dd.MM.yyyy' }}
      </td>
      <td table-cell [style.width]="(isAdmin ? '216px' : '132px')">
        <ui-button color="primary" classExtension="!py-2 !px-3" ngbTooltip="Релизы" (click)="openReleaseModal(sprint)">
          <fa-icon [icon]="faGear"/>
        </ui-button>
        <ui-button color="primary" classExtension="!py-2 !px-3 ml-1" ngbTooltip="Задачи" (click)="openTasksView(sprint)">
          <fa-icon [icon]="faListCheck"/>
        </ui-button>
        @if(isAdmin) {
          <ui-button color="warning" classExtension="!py-2 !px-3 ml-1" ngbTooltip="Изменить" (click)="openEditModal(sprint)">
            <fa-icon [icon]="faEdit"/>
          </ui-button>
          <ui-button color="danger" classExtension="!py-2 !px-3 ml-1" ngbTooltip="Удалить" (click)="openDeleteModal(sprint)">
            <fa-icon [icon]="faTrash"/>
          </ui-button>
        }
      </td>
    </tr>
  }
  @if(sprints.length == 0) {
    <tr table-row>
      <td table-cell colspan="5" class="text-center bg-gray-50">
        Нет данных
      </td>
    </tr>
  }
</app-table-component>
