<div class="mx-auto max-w-screen-xl px-4 lg:px-12 animate-fade animate-once animate-duration-500 animate-ease-out relative z-10 text-end" *ngIf="isAdmin">
    <div class="relative w-full lg:w-[260px] inline-block mx-auto align-right">
      <div class="w-full lg:w-[250px] block ml-auto">
        <button primary (click)="openCreateModal()">
          <fa-icon [icon]="faPlus"></fa-icon>
          Создать тег
        </button>
      </div>
    </div>
</div>

<app-table-component [columns]="tableColumns" [creationEnabled]="false">
  @for(tag of tags; track tag.id) {
    <tr table-row>
      <td table-cell class="w-[216px]">
        {{tag.name}}
      </td>
      <td table-cell>
        <div class="table-cell-lines two-lines">
          {{tag.description}}
        </div>
      </td>
      <td table-cell class="w-[132px]" *ngIf="isAdmin">
        <ui-button color="warning" classExtension="!py-2 !px-3 ml-1" data-tooltip-target="tooltip-edit" (click)="openEditModal(tag)">
          <fa-icon [icon]="faEdit"/>
        </ui-button>
        <div id="tooltip-edit" tooltip>
          Изменить
        </div>
        <ui-button color="danger" classExtension="!py-2 !px-3 ml-1" data-tooltip-target="tooltip-delete" (click)="openDeleteModal(tag)">
          <fa-icon [icon]="faTrash"/>
        </ui-button>
        <div id="tooltip-delete" tooltip>
          Удалить
        </div>
      </td>
    </tr>
  }
  @if (!tags || tags.length == 0) {
    <tr table-row>
      <td table-cell colspan="3" class="text-center bg-gray-50">
        Нет данных
      </td>
    </tr>
  }
</app-table-component>
