<div class="relative p-4 text-left bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
  <button type="button" class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" (click)="activeModal.close()">
    <fa-icon [icon]="faClose" style="font-size: 24px"></fa-icon>
  </button>

  <app-table-component [columns]="tableColumns" [creationEnabled]="isAdmin" headerText="Статусы" (creationClick)="openAddStatusModal()" creationText="Добавить">
    <tr *ngFor="let status of statuses; trackBy: trackStatus">
      <td table-cell>{{ status.name }}</td>
      <td table-cell>
        <div class="table-cell-lines two-lines">
          {{ status.description || 'Нет описания' }}
        </div>
      </td>
      <td table-cell class="w-[0px]" *ngIf="isAdmin">
        <ui-button color="danger" classExtension="!py-2 !px-3 ml-1" (click)="deleteStatus(status)" ngbTooltip="Удалить">
          <fa-icon [icon]="faTrash"/>
        </ui-button>
      </td>
    </tr>
    <tr *ngIf="statuses.length === 0">
      <td table-cell colspan="3" class="text-center bg-gray-50">Нет данных</td>
    </tr>
  </app-table-component>
</div>
