<div class="mx-auto max-w-screen-xl px-4 lg:px-12 animate-fade animate-once animate-duration-500 animate-ease-out relative z-10">
  <div class="relative inline-block mx-auto mb-2 lg:mb-0 search-bar" [class.!w-full]="!isAdmin">
    <div>
      <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <fa-icon [icon]="faSearch"/>
        </div>
        <input type="text"
               [(ngModel)]="search"
               (blur)="searchChange()"
               (keydown.enter)="searchChange()"
               class="block w-full p-2 !pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Поиск">
      </div>
    </div>
  </div>
  <div class="relative w-full lg:w-[260px] inline-block mx-auto align-right" *ngIf="isAdmin">
    <div class="w-full lg:w-[250px] block ml-auto">
      <button primary (click)="createClick()">
        <fa-icon [icon]="faPlus"/>
        Создать
      </button>
    </div>
  </div>
</div>

@if(users) {
  <app-table-component [columns]="['Логин', 'Почта', 'ФИО', 'Команда', 'Роль', 'Действия']" [pageInfo]="users.page" (pageChange)="changePage($event)">
    @for(user of users.content; track user.login) {
      <tr table-row>
        <td table-cell>
          {{user.login}}
        </td>
        <td table-cell>
          <div class="table-cell-lines two-lines">
            {{user.email}}
          </div>
        </td>
        <td table-cell>
          <div class="table-cell-lines two-lines">
            {{user.firstName}} {{user.lastName}}
          </div>
        </td>
        <td table-cell>
          <div class="table-cell-lines two-lines">
            @if(user.team) {
              <div class="flex items-center gap-2">
                <div [style.background]="user.team.color" style="width: 10px; height: 10px; border-radius: 50%; border: 1px solid black;"></div>
                {{user.team.name}}
              </div>
            } @else {
              Без команды
            }
          </div>
        </td>
        <td table-cell>
          <div class="table-cell-lines two-lines">
            {{user.role?.name || 'Без роли'}}
          </div>
        </td>
        <td table-cell class="w-0">
          @if (currentUser?.role?.id == 1 || currentUser?.login == user.login) {
            <ui-button color="warning" classExtension="!py-2 !px-3 ml-1" ngbTooltip="Изменить" (click)="editUser(user)">
              <fa-icon [icon]="faEdit"/>
            </ui-button>
          }
        </td>
      </tr>
    }
    @if(users.content.length == 0) {
      <tr table-row>
        <td table-cell colspan="6" class="text-center bg-gray-50">
          Нет данных
        </td>
      </tr>
    }
  </app-table-component>
} @else {
  <app-table-component [columns]="['Логин', 'Почта', 'ФИО', 'Команда', 'Роль', 'Действия']" [creationEnabled]="false">
    <tr table-row>
      <td table-cell colspan="6" class="text-center bg-gray-50">
        Нет данных
      </td>
    </tr>
  </app-table-component>
}
